---
- name: Disable SWAP
  become: true
  shell: |
    swapoff -a

- name: Disable SWAP in fstab
  replace:
    path: /etc/fstab
    regexp: '^([^#].*?\sswap\s+sw\s+.*)$'
    replace: '# \1'

- name: Install yq
  block:
    - name: Install yq via package manager
      package:
        name: yq
        state: present
        update_cache: true

    - name: Check yq version
      command: yq --version
      register: yq_version
      changed_when: false

    - name: Set fact if yq v4
      set_fact:
        yq_v4_installed: "{{ 'version 4' in yq_version.stdout }}"
  rescue:
    - set_fact:
        yq_v4_installed: false

- name: Install yq v4 binary fallback
  get_url:
    url: "https://github.com/mikefarah/yq/releases/download/v4.49.2/yq_linux_{{ 'arm64' if ansible_architecture in ['aarch64', 'arm64'] else 'amd64' }}"
    dest: /usr/local/bin/yq
    mode: "0755"
  when: not yq_v4_installed

- name: Create k0s Directories
  become: true
  file:
    path: "{{ item }}"
    state: directory
    mode: 0755
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
  loop:
    - "{{ k0s_config_dir }}"
    - "{{ k0s_data_dir }}"
    - "{{ k0s_libexec_dir }}"

- name: Write the custom k0s config file
  template:
    src: k0s.yaml.j2
    dest: "{{ k0s_config_dir }}/k0s.yaml"
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: 0600
  when: k0s_use_custom_config

- name: Generate default k0s config file
  become: true
  block:
    - name: Create default k0s config
      register: default_k0s_config
      shell: k0s config create
    - name: Store default k0s config
      copy:
        dest: "{{ k0s_config_dir }}/k0s.yaml"
        content: "{{ default_k0s_config.stdout }}"
        owner: "{{ ansible_user }}"
        group: "{{ ansible_user }}"
        mode: 0755
  when: not k0s_use_custom_config
