---
apiVersion: apiserver.config.k8s.io/v1
kind: EncryptionConfiguration
resources:
  - resources:
      - secrets
      - configmaps
    providers:
      - aesgcm:
          keys:
            - name: keyone
              secret: {{ k8s_encryption_secret_key }}
      - identity: {}  # This fallback allows reading unencrypted secrets
